# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
dist-server/
package-lock.json

# Environment
.env
.env.local
.env.*.local

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.claude
